
@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header  py-3 bg-success">
        <div class="row">
            <h6 class="m-0 font-weight-bold text-danger col-md-3" style="text-transform:uppercase">Danh sách danh mục</h6>
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search col-md-3 ">
                <div class="input-group">
                    <input type="text" class="form-control bg-white border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2" id="txtSearchCategory">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="btnSearchCategory">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <nav aria-label="..." class="col-md-5">
                <ul class="pagination pagination-sm" id="phanTrangShoes"></ul>
            </nav>
            <div class=" text-right offset-5 mb-2  ">
                <button class="btn  btn-success" id="btnAddCategory" name="Add"><i class="fas fa-plus"></i> Thêm Mới</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTableShoes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center ">Mã danh mục </th>
                        <th class="col-md-3">Tên danh mục</th>
                        <th class="col-md-3"></th>

                    </tr>
                </thead>
                <tbody id="tbDsCategory">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalCategory" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title " style="color:#fff" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" hidden id="ipCategory" value="" />
                <form id="form-category">
                    <div class="form-group ">
                        <label id="lbCategoryId">Mã danh mục</label>
                        <input type="text" class="form-control" id="CategoryId" placeholder="Mã danh mục">
                    </div>

                    <div class="form-group">
                        <label>Tên danh mục</label>
                        <input type="text" class="form-control" id="CategoryName" placeholder="Tên danh mục" name="categoryname">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="btnSubmitCategory" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var search = "";
        $(document).ready(function () {

            loadDScategory(search);
        });
        var t = $('#form-category').validate({
            rules: {
                'categoryname': {
                    required: true,
                   
                },
            }, messages: {
                'categoryname': {
                    required: 'Bạn chưa nhập tên danh mục',
                    
                }, 
            }
        });
        function loadDScategory(search) {
            $.ajax({
                url: '/Admin/Categorys/GetAllCategory',
                type: 'get',
                data: {
                    keysearch: search,
                },
                success: function (data) {
                    if (data.status == 200) {
                        $('#tbDsCategory').empty();

                        $.each(data.data, function (k, v) {
                            let tr = '<tr id="' + v.categoryid + '">';
                            tr += '<td class="col-md-1 text-center">' + (v.categoryid) + '</td>';
                            tr += '<td class="col-md-3">' + v.categoryname + '</td>';
                            tr += '<td class="col-md-3 text-center ">'


                            tr += '<button class="btn btn-xs btn-info" name="ViewCategory" ><i class="fa fa-info-circle" aria-hidden="true"></i></button>'
                            tr += '&nbsp<button class="btn btn-xs btn-warning" name="EditCategory" ><i class="fa fa-edit"></i></button>'
                            tr += '</td>';

                            tr += '</tr>';

                            $('#tbDsCategory').append(tr);
                        });
                    } else {
                        if (search.length > 0) {
                            alertify.error('Không có kết quả nào cho từ khóa"' + search + '"');
                        } else {
                            alertify.error(data.Message);
                        }
                        $('#tbDsCategory').empty();
                    }
                }
            });
        };

        $('#btnSearchCategory').click(function () {
            search = $('#txtSearchCategory').val();
            loadDScategory(search);
        });

        $('#btnAddCategory').click(function () {
            $('#lbCategoryId,#CategoryId').hide();
            $('#CategoryName,#ipCategory').val('');
            $('#CategoryName').prop('readonly', false);

            $('#btnSubmitCategory').show();
            $('#modalTitle').text('Thêm danh mục mới');
            t.resetForm();

            $('#modalCategory').modal();
        });


        function ChiTietCategory(categoryid) {
            $.ajax({
                url: '/Admin/Categorys/GetCategoryByCategoryId',
                type: 'get',
                data: {
                    categoryid: categoryid
                },
                success: function (data) {
                    if (data.status == 200) {
                        $('#CategoryId').val(data.data.categoryid);
                        $('#CategoryName').val(data.data.categoryname);
                    } else {
                        alertify.error(data.Message);
                    }
                }
            })
        };
        $(document).on('click', "button[name='ViewCategory']", function () {
            let categoryid = $(this).closest('tr').attr('id');
            ChiTietCategory(categoryid);
            $('#CategoryId,#CategoryName').prop('readonly', true);
            $('#lbCategoryId,#CategoryId,#CategoryName').show();
            $('#btnSubmitCategory').hide();
            $('#modalTitle').text('Xem chi tiết danh mục');
            $('#modalCategory').modal();
        });
        $(document).on('click', "button[name='EditCategory']", function () {
            let categoryid = $(this).closest('tr').attr('id');
            ChiTietCategory(categoryid);
            $('#lbCategoryId,#CategoryId,#CategoryName,#btnSubmitCategory').show();
            $('#CategoryId').prop('readonly', true);
            $('#CategoryName').prop('readonly', false);
            $('#ipCategory').val(categoryid);
            $('#modalTitle').text('Sửa danh mục');
            t.resetForm();
            $('#modalCategory').modal();


        });

        $('#btnSubmitCategory').click(function () {
            let categoryid = $('#CategoryId').val();
            let categoryname = $('#CategoryName').val().trim();

            let ID = $('#ipCategory').val().trim();
            if (ID.length == 0) {
                $.ajax({
                    url: '/Admin/Categorys/AddCategory',
                    type: 'post',
                    data: {
                        categoryname: categoryname
                    },

                    success: function (data) {
                        if (data.status == 200) {

                            loadDScategory(search);
                            alertify.success(data.Message);
                            $('#CategoryName,#ipCategory').val('');
                        } else {
                            alertify.error(data.Message);
                            return;
                        }
                    },
                    error: function () {
                        alertify.error(data.Message);
                        return;
                    }
                })
            } else {

                if (confirm('Bạn thực sự muốn chỉnh sửa danh mục này?')) {
                    $.ajax({
                        url: '/Admin/Categorys/EditCategory',
                        type: 'post',
                        data: {
                            categoryid: categoryid,
                            categoryname: categoryname
                        },

                        success: function (data) {
                            if (data.status == 200) {

                                $('#modalCategory').modal('hide');
                                loadDScategory(search);
                                alertify.success(data.Message);
                            } else {
                                alertify.error(data.Message);
                                return;
                            }
                        },
                        error: function () {
                            alertify.error(data.Message);
                            return;
                        }

                    })
                } else {
                    return;
                }

            }


        });








        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                //shortDate = monthString + '/' + dayString + '/' + year;
                shortDate = dayString + '/' + monthString + '/' + year;
            }
            return shortDate;
        };

    </script>
}

